{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

            
    <div class="jumbotron">
        <div class="row">
            <!-- Categories -->
            <div class="col-sm-8">
                <h4 class="inline">Delete Category</h4>
                <a href="{{url_for('showCategory', category_id = category.id)}}" class="btn btn-warning btn-sm inline leftmarge-med">Cancel</a>
                
                <div class="container border-top">
                    
                    <form role="form" method="POST" action="{{url_for('deleteCategory',category_id = category.id)}}">
                        <h3>Are you sure you want to delete category {{category.name}}?</h3>
                        <button type="submit" value="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> DELETE
                        </button>
                        <input type="hidden" name="nonce" value="{{nonce}}" />
                    </form>
                </div>
                
                 
            </div>

        </div>    
    </div>
        
    
{% endblock %}