{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

            
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="inline">{{item.name}}</h4>
                <a href="{{url_for('editItem', item_id = item.id)}}" class="btn btn-warning btn-sm inline leftmarge-med">Edit Item</a>
                 <a href="{{url_for('deleteItem', item_id = item.id)}}" class="btn btn-danger btn-sm inline">DELETE Item</a>

                <div class="container border-top">
                    {{item.name}} - <a href="{{url_for('showCategory', category_id = item.category.id)}}">{{item.category.name}}</a>
                    <br/><br/>
                    Price: {{item.price}}
                    <br/><br/>
                    {% if item.picture %}<img src="{{item.picture}}" class="med"/><br/><br/>{% endif %}
                    {{item.description}}
                </div>
            </div>

        </div>    

    </div>
    
    
{% endblock %}